{% extends "gestion_pasajeros/base.html" %}

{% block header %}
    Lista de Pasajeros
{% endblock %}

{% block cuerpo %}
    {% if pasajeros %}
    <table class="table">
        <thead>
            <tr>
                <th>Pasajero</th>
                <th>Direccion</th>
                <th>Responsable</th>
                <th>Establecimiento</th>
                <th>Hora Entrada</th>
                <th>Hora Salida</th>
            </tr>
        </thead>
        <tbody>
        {% for pasajero in pasajeros %}
            <tr>
                <td>{{ pasajero.apellido }} {{ pasajero.nombre }}</td>
                <td>{{ pasajero.direccion }}</td>
                <td>{{ pasajero.responsable }}</td>
                <td>{{ pasajero.establecimiento }}</td>
                <td>{{ pasajero.hora_entrada | date:"H:i" }}</td>
                <td>{{ pasajero.hora_salida | date:"H:i" }}</td>
                <td><a class="btn btn-info" href="{{ pasajero.nro_obra_social }}">Mas Detalles</a></td>
                <td><a class="btn btn-warning" href="{{ pasajero.nro_obra_social }}/edit">Editar</a></td>
                <td><a class="btn btn-danger" href="{{ pasajero.nro_obra_social }}/delete" >Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="jumbotron">
            <h2>No existen pasajeros cargados en el sistema</h2>
        </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script>
        $("tbody tr").hover(
            function() {
                 $(this).toggleClass("active")
            },
            function() {
                 $(this).toggleClass("active")
            }
        );
    </script>
{% endblock %}