{% extends "gestion_pasajeros/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Alta de Pasajero
{% endblock %}

{% block header %}
    Alta de Pasajero
{% endblock %}

{% block cuerpo%}
    <form method="POST" >
        {% csrf_token %}
        {{ form | crispy }}
        <button type='submit' class="btn btn-primary">Aceptar</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        var establecimientos = {{ establecimientos | safe }}
        $(function() {
            $("#id_establecimiento").change(function() {
                    var e_id = $("#id_establecimiento option:selected").val();
                    $("#id_hora_entrada").val(establecimientos[e_id - 1].fields.hora_entrada);
                    $("#id_hora_salida").val(establecimientos[e_id - 1].fields.hora_salida);
                });
            })
    </script>
{% endblock %}
