<!doctype html>
<html>
    <head>
        <title>Planilla de asistencia</title>
        <link rel="stylesheet" href="{% static 'gestion_pasajeros/css/asistencia.css' %}"
    </head>
    <body>
        {% for pasajero in pasajeros %}
            <p id="title">PLANILLA DE ASISTENCIA DIARIA - CONFORMIDAD DEL AFILIADO</p>
            <div id="datos">
                <p>NOMBRE DEL AFILIADO: {{ pasajero.apellido | upper }} {{ pasajero.nombre | upper }}</p>
                <div>
                    <p class="izq">N° AFILIADO: {{ pasajero.nro_obra_social }}</p>
                    <p>MES DE PRESENTACIÓN: {{ month }}</p>
                </div>
                <div>
                    <p class="izq">NOMBRE DEL PROFESIONAL: {{ pasajero.responsable }}</p>
                    <p>MATRICULA: ------- </p>
                </div>
            </div>

            <table>
                <tr>
                    <td>DÍA</td>
                    <td>ENTRADA</td>
                    <td>SALIDA</td>
                    <td>FIRMA DEL PROFESIONAL</td>
                    <td>FIRMA DEL AFILIADO</td>
                </tr>
                {% for day in days %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                        {% if day %}
                            <td>{{ pasajero.hora_entrada | date:"G:i" }}</td>
                            <td>{{ pasajero.hora_salida | date:"G:i" }}</td>
                            <td>{{ pasajero.responsable | upper}}</td>
                            <td></td>
                        {% else %}
                            <td>------</td>
                            <td>------</td>
                            <td>-------------</td>
                            <td>-------------</td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>

            <div id="datos">
                <p>FIRMA DEL AFILIADO O FAMILAR: _________________________</p>
                <p>ACLARACIÓN: _________________________________________</p>
                <p>N° DOCUMENTO: _______________________________________</p>
                <p>GRADO DE PARENTESCO: ________________________________</p>
            </div>

            <div class="page-break"></div>
        {% endfor %}
    </body>
</html>
