{% extends "gestion_pasajeros/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Presentismo
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.3.custom.css' %}">
    <link rel="stylesheet" href="{% static 'gestion_pasajeros/css/forms.css' %}">
{% endblock %}

{% block header %}
    Planilla de Asistencia diaria
{% endblock %}

{% block cuerpo %}
    {% if form.pasajeros %}
        <form method="POST" action="{% url 'asistencia' %}">{% csrf_token %}

            {{ form|crispy }}
            <input type="checkbox" id="selectall"/> Seleccionar Todos
            <div class="control-group">
                <label class="control-label">Días que no asistió al establecimiento</label>
                <div id="datepicker"></div>
            <div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
    {% else %}

    <div class="jumbotron">
        <h2>No hay pasajeros</h2>
        <h3>De de alta un pasajero para poder generar su planillas de asistencia</h3>
    </div>

    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'gestion_pasajeros/js/dates.js' %}"></script>
    <script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>
    <script src="{% static 'js/jquery.ui.datepicker.js' %}"></script>
    <script src="{% static 'gestion_pasajeros/js/asistencia_calendar.js' %}"></script>
    <script src="{% static 'gestion_pasajeros/js/select_all.js' %}"></script>

    </script>
{% endblock %}