<!DOCTYPE html>
{% load staticfiles %}

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Home{% endblock %}</title>

        {% block extra_css %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src="{% static 'js/jquery-1.10.2.js' %}"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pasajero<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{% url 'list_pasajero' %}">Listar Pasajeros</a></li>
                            <li><a href="{% url 'new_pasajero' %}">Alta</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'asistencia' %}">Planilla de Asistencia</a></li>
                            <li><a href="{% url 'conformidad' %}">Conformidad</a></li>
                            <li><a href="{% url 'presupuesto' %}">Presupuesto</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Establecimiento<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{% url 'list_establecimiento' %}">Listar Establecimientos</a></li>
                            <li><a href="{% url 'new_establecimiento' %}">Alta</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Obra Social<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{% url 'list_obra_social' %}">Listar Obras Sociales</a></li>
                            <li><a href="{% url 'new_obra_social' %}">Alta</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block cuerpo %}
            {% endblock %}
        </div>

        <script src="{% static 'bootstrap/js/bootstrap.js'  %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>