{% extends "ambulancia/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Presentismo
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.3.custom.css' %}">
<link rel="stylesheet" href="{% static 'ambulancia/css/forms.css' %}">
{% endblock %}

{% block cuerpo %}
    <div class="page-header">
        <h1>Planilla de Asistencia diaria</h1>
    </div>
    {% if form.pasajeros %}
        <form method="POST">{% csrf_token %}

            {{ form|crispy }}
            <input type="checkbox" id="selectall"/> Seleccionar Todos
            <div class="control-group">
                <label class="control-label">Días que no asistió al establecimiento</label>
                <div id="datepicker"></div>
            <div>
            <button type='submit' class="btn btn-primary">Aceptar</button>
        </form>
    {% else %}

    <div class="jumbotron">
        <h2>No hay pasajeros</h2>
        <h3>De de alta un pasajero para poder generar su planillas de asistencia</h3>
    </div>

    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'ambulancia/js/dates.js' %}"></script>
    <script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>
    <script src="{% static 'js/jquery.ui.datepicker.js' %}"></script>


    <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).multiDatesPicker({
                inline: true,
                altField: '#id_date',
                dateFormat: "d/m/yy",
                changeMonth: true,
                changeYear: true,
                addDates: selectHolydaysAndWeekends(new Date()),
                onChangeMonthYear: function(year, month) {
                    $('#datepicker').multiDatesPicker('resetDates', 'picked');
                    $('#datepicker').multiDatesPicker('addDates',
                        selectHolydaysAndWeekends(new Date(year, month - 1, 1)));
                    $('#id_date').val($('#datepicker').multiDatesPicker('getDates'));
                }
            });

            $("#selectall").click(function(event) {
                if (this.checked) {
                    $("form :checkbox").each(function() {
                         this.checked = true;
                    });
                } else {
                    $("form :checkbox").each(function() {
                         this.checked = false;
                    });
                }
            });
        });


    </script>
{% endblock %}