body {
    font-family: serif;
    font-size: 12px;
    }

table {
    border-collapse: collapse;
    width: 580px;
    text-align: center;
    }

td {
    border: 1px solid black;
    padding: 3px;
    font-size: 12px;
    }


#datos {
    width: 580px;
    }

#datos div p {
    display: inline-block
    }

.izq {
    margin-right: 50px;
    }

#title {
    width: 580px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 0px;
    }

@media print {
    .page-break{
        page-break-before: always;
    }
    @page {
        size: A4;
        margin: 0 2cm;
    }
}
