{% extends 'gestion_pasajeros/base.html' %}
{% load staticfiles %}

{% block title %}
    Establecimientos
{% endblock %}

{% block header %}
    Establecimientos
{% endblock %}

{% block cuerpo %}
    {% if establecimientos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                </tr>
            <thead>
            <tbody>
                {% for establecimiento in establecimientos %}
                    <tr>
                        <td>{{ establecimiento.nombre }}</td>
                        <td>{{ establecimiento.direccion }}</td>
                        <td>{{ establecimiento.telefono }}</td>
                        <td>{{ establecimiento.hora_entrada }}</td>
                        <td>{{ establecimiento.hora_salida }}</td>
                        <td><a class="btn btn-warning" href="{{ establecimiento.id }}/edit">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron">
            <h2>No existen Establecimientos cargadas en el sistema</h2>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'gestion_pasajeros/js/list_table.js' %}"></script>
{% endblock %}